In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float

In [2]:
data2015 = pd.read_csv("../data/2015.csv")
data2016 = pd.read_csv("../data/2016.csv")
data2017 = pd.read_csv("../data/2017.csv")
data2018 = pd.read_csv("../data/2018.csv")
data2019 = pd.read_csv("../data/2019.csv")
data2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [3]:
data2015.drop(["Region",'Standard Error', 'Dystopia Residual'],axis=1,inplace=True)

data2015.columns = ["Country","Rank","Happiness Score",
                  "GDP Per Capita","Family Support","Life Expectancy",
                 "Freedom of Life Choices","Generosity","Perceptions of Corruption"]

data2016.drop(['Region','Lower Confidence Interval','Upper Confidence Interval',
            'Dystopia Residual'],axis=1,inplace=True)

data2016.columns = ["Country","Rank","Happiness Score",
                  "GDP Per Capita","Family Support","Life Expectancy",
                 "Freedom of Life Choices","Generosity","Perceptions of Corruption"]

data2017.drop(["Whisker.high","Whisker.low",
               "Dystopia.Residual"],axis=1,inplace=True)

data2017.columns = ["Country","Rank","Happiness Score",
                  "GDP Per Capita","Family Support", "Life Expectancy",
                 "Freedom of Life Choices","Generosity","Perceptions of Corruption"]

data2018.columns = ["Rank","Country","Happiness Score",
                  "GDP Per Capita","Family Support","Life Expectancy",
                 "Freedom of Life Choices","Generosity","Perceptions of Corruption"]

data2019.columns = ["Rank","Country","Happiness Score",
                  "GDP Per Capita","Family Support","Life Expectancy",
                 "Freedom of Life Choices","Generosity","Perceptions of Corruption"]

In [4]:
data2015["Year"] = 2015
data2016["Year"] = 2016
data2017["Year"] = 2017
data2018["Year"] = 2018
data2019["Year"] = 2019
data2015.head()

,Country,Rank,Happiness Score,GDP Per Capita,Family Support,Life Expectancy,Freedom of Life Choices,Generosity,Perceptions of Corruption,Year
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015

In [5]:
happiness_df = data2015.append([data2016,data2017,data2018,data2019])
happiness_df.head()

,Country,Rank,Happiness Score,GDP Per Capita,Family Support,Life Expectancy,Freedom of Life Choices,Generosity,Perceptions of Corruption,Year
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015

In [6]:
renamed_df = happiness_df.rename(columns = {'Country': 'country', 'Rank': 'rank', 'Happiness Score':'score', 'GDP Per Capita': 'economy', 'Family Support': 'family', 'Life Expectancy': 'health', 'Freedom of Life Choices': 'freedom', 'Generosity': 'generosity', 'Perceptions of Corruption': 'trust', 'Year' : 'year'})
renamed_df

,country,rank,score,economy,family,health,freedom,generosity,trust,year
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015
...,...,...,...,...,...,...,...,...,...,...
151,Rwanda,152,3.334,0.35900,0.71100,0.61400,0.55500,0.21700,0.41100,2019
152,Tanzania,153,3.231,0.47600,0.88500,0.49900,0.41700,0.27600,0.14700,2019
153,Afghanistan,154,3.203,0.35000,0.51700,0.36100,0.00000,0.15800,0.02500,2019
154,Central African Republic,155,3.083,0.02600,0.00000,0.10500,0.22500,0.23500,0.03500,2019
155,South Sudan,156,2.853,0.30600,0.57500,0.29500,0.01000,0.20200,0.09100,2019

In [7]:
renamed_df.dropna(inplace=True)

In [8]:
coords = pd.read_csv("data/coords.csv")
coords.drop(["country"],axis=1,inplace=True)
coords.columns = ["lat", "long", "country"]
coords.head()

FileNotFoundError: [Errno 2] File data/coords.csv does not exist: 'data/coords.csv'

In [ ]:
total_df = pd.merge(left=renamed_df, right=coords, how='left', left_on='country', right_on='country')
total_df

In [ ]:
total_df.dropna(inplace=True)

In [ ]:
rds_connection_string = "postgres:Indy4G#12@localhost:5432/happiness"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [ ]:
engine.table_names()

In [ ]:
total_df.to_sql(name='happiness', con=engine, if_exists='append', index=False)

In [ ]:
pd.read_sql_query('select country, rank, year from happiness', con=engine).head(20)